---
version: 2.1

jobs:
  verify:
    docker:
      - image: chef/chefworkstation:latest
    environment:
      CHEF_LICENSE: accept-no-persist
    steps:
      - checkout
      - run:
          name: Install additional gems
          command: chef gem install rspec_junit_formatter
                                    'aws-partitions:~> 1.228.0'
                                    'aws-sdk-cloudformation:~> 1.21.0'
                                    'aws-sdk-cloudwatch:~> 1.22.0'
                                    'aws-sdk-core:~> 3.71.0'
                                    'aws-sdk-dynamodb:~> 1.28.0'
                                    'aws-sdk-ec2:~> 1.115.0'
                                    'aws-sdk-elasticloadbalancing:~> 1.14.0'
                                    'aws-sdk-iam:~> 1.22.0'
                                    'aws-sdk-kinesis:~> 1.15.0'
                                    'aws-sdk-kms:~> 1.20.0'
                                    'aws-sdk-route53:~> 1.24.0'
                                    'aws-sdk-s3:~> 1.38.0'
                                    'aws-sdk-ssm:~> 1.46.0'
      - run:
          name: Verify
          command: chef exec delivery local verify
      - store_test_results:
          path: test-results

  acceptance:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      CHEF_LICENSE: accept-no-persist
    steps:
      - checkout
      - run:
          name: Install Chef Workstation
          command: |
            curl -L https://omnitruck.chef.io/install.sh |
              sudo bash -s -- -c stable -P chef-workstation
      - run:
          name: Acceptance
          command: chef exec delivery local acceptance
      - run:
          name: Cleanup
          command: chef exec delivery local cleanup
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: .kitchen/logs
          when: always

workflows:
  version: 2.1
  verify_and_acceptance:
    jobs:
      - verify
      - acceptance:
          requires:
            - verify
